/*  your css code here. If applicable */
body{
	display:flex;
	gap: 10px
}
img{
width:70%;
height:20%;
}

h1{
text-align:center;
}

p{
text-align:center;
}
button{
	background-color:red;
	color:white;
	margin:0 auto;
	border:none;
	padding:5px;
}
