body {
  display: flex;
  gap: 10px;
}

img {
  width: 70%;
  height: 20%;
}

h1, p {
  text-align: center;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers the button */
}
